<div class="container">
  <div class="post-grid" *ngIf="posts.length > 0; else noPosts">
    <div class="post-summary linkify mat-elevation-z5" *ngFor="let post of posts" (click)="viewPost(post)">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ post.title }}
          </mat-card-title>
          <mat-card-subtitle>
            <p>{{ post.author }}</p>
            <mat-chip-list #chipList aria-label="blog post tags">
              <mat-chip *ngFor="let tag of post.tags" [removable]="false">
                {{ tag }}
              </mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="ql-editor" [innerHTML]="post.blurb + '...'"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <ng-template #noPosts>
    <p>There are currently no blog posts available to view.</p>
  </ng-template>
  <div>
    <button color="primary" mat-flat-button routerLink="/blog/create">Create Blog Post</button>
  </div>
</div>
