<div class="container">
  <p>You found the login page! Security by obscurity is never effective, is it? I have a basic authentication scheme implemented using bcrypt and JWTs in the API and a route guard in the UI.
    I mostly login here to add blog posts. Feel free to check out the source code for this entire site in
    <a href="https://github.com/MrKevinJLoftus/loftus-dev" target="_blank">this app's Github repo</a>.</p>
  <app-login-form (login)="handleLoginAttempt($event)"></app-login-form>
</div>
