@import '../../../variables.scss';

.container {
  min-height: calc(100vh - 50px);
  background: linear-gradient($primary-light 0%, $primary-light 50%, #FFF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  width: 50vw;
  text-indent: 2rem;
  color: white;
  a {
    color: $accent;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: none;
    }
  }
}
