<div class="container">
  <p>You found the login page! Security by obscurity is never effective, is it? I have a basic authentication scheme implemented using bcrypt and JWTs in the API and a route guard in the UI.
    I mostly login here to access the admin page where I add new blog posts. I'm working on a demo page to display what that page looks like.
    In the meantime, feel free to check out the source code in
    <a href="https://github.com/MrKevinJLoftus/loftus-dev" target="_blank">this app's Github repo</a>.</p>
  <app-login-form (login)="handleLoginAttempt($event)"></app-login-form>
</div>
