@import '../variables.scss';
.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.linkify {
  cursor: pointer !important;
}

.mat-sidenav {
  width: 175px;
  background: $primary-dark;
}

.mat-nav-list * {
  color: white;
}

.mat-toolbar {
  height: 5vh;
  display: flex;
}

.main-content {
  height: 95vh;
  width: 100vw;
}

h1 {
  font-family: "Titillium Web", "Arial", "Times New Roman", "serif";
}

.routeText {
  margin-left: 1rem;
}

.github, .linkedin {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 1rem;
  a img {
    height: 100%;
    width: 100%;
  }
}

.spacer {
  flex: 1 1 auto;
}
