@import '../../../variables.scss';
.container {
  background: rgb(86,0,125);
  background: linear-gradient(200deg, $accent 0%, $middleBlue 50%, $primary 100%);
  min-height: calc(100vh - 50px);
  overflow-y: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.content {
  min-height: calc(100vh - 50px);
  width: 100vw;
  padding-bottom: 5px;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
