@import '../../../variables.scss';
.container {
  background: rgb(86,0,125);
  background: linear-gradient(200deg, $accent 0%, $middleBlue 50%, $primary 100%);
  height: 100%;
  width: 100%;
  display: flex;
}

.kevin-face {
  height: auto;
  border-radius: 20px;
  margin-bottom: 1rem;
  transform: rotate(-90deg);
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p a {
  color: $accent;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}

@media only screen and (min-width: 768px) {
  .kevin-face {
    max-width: 18%;
  }
  .welcome-text {
    margin: 0 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .kevin-face {
    max-width: 60%;
  }
  .welcome-text {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .kevin-face {
    max-width: 30%;
  }
  .welcome-text {
    margin: 0 2rem;
  }
}
