<div class="container">
  <div class="welcome-text">
    <img class="kevin-face mat-elevation-z4" src="../../assets/kevin_face.jpg" alt="kevin_loftus_face">
    <p>Welcome to my website!</p>
    <p>My name is Kevin Loftus, and I've been working in full stack development for {{numYears}} years. I've worked professionally with NodeJS, Angular, and C#.</p>
    <p><u>Professional interests include</u>: Angular, NodeJS, UX, GraphQL, Golang</p>
    <p><u>Personal interests include</u>: gaming, juggling, twisty puzzles, gardening, playing saxophone and ukulele</p>
    <p>Feel free to have a look around at my <a routerLink="/blog">development blog</a> and <a routerLink="/projects">personal projects</a>, my
      <a href="https://github.com/MrKevinJLoftus" target="_blank">Github</a>
      or
      <a href="https://www.linkedin.com/in/kevin-loftus-b7578173" target="_blank">LinkedIn</a>
      profile, or <a href="mailto:kevin@loftus.dev">contact me</a> if you are interested in working together.
    </p>
  </div>
</div>
